#container {
    display: flex;
    flex-direction: column;
    height: 300px;
    width: 300px;
}


.divRow {
    display: flex;
    flex: auto;
}

.divSquare {
    background-color: blue;
    flex: auto;
}